@import "./base.css";

.navigation{
  display: flex;
  width: 100vw;
  background-color: grey;
  height: 7vh;
}

body{
  background-color: ghostwhite;
}


.atribute{
  position: absolute;
  margin-left: 25%;
}
.requestDiv
{
  display: flex;
  text-align: center;
  margin-right:2vw ;
}

.requestButton
{
  border-radius: 10px;
  top:25%;
  height: 50%;
  background-color: lightgray;
}

.addRowButton
{
  background-color: grey;
  border: none;
  border-radius: 25px;
  margin: auto;
  width: 10vw;
  height: 5vh;
  color: ghostwhite;
}

.rowButton
{
  text-align: center;
  margin-bottom: 2vh;
}

.paintingCard
{
  height: 100%;
  cursor: pointer;
  background-position: left;
}

.infoPainting
{
  padding:5%;
  color:ghostwhite;
}

.bigPaintingCard
{
  margin:5%;
  height: 85%;
  background-position: center;
}

.testPainting
{
  background-image: url('./pictures/TestPainting.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.paintingCol{
  display: block;
  background-color: grey;
  height: 10vh;
}

.paintingCol.lightGrey{
  background-color: lightgray;
}

.paintingInfoCol
{
  background-color: grey;
  margin: 3vw;
  height: 60vh;
  margin-top:5vh !important;
}

.lowLogo
{
  background-image: url(./pictures/Low-Resolution-Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.navigation .lowLogo
{
  width: 100px;
  height: 7vh;
}

.searchbar
{
  margin: auto;
  position: relative;

}

.searchbar input
{
  border:none;
  display: block;
  box-sizing: border-box;
  margin:auto;
  width: fit-content;

}

.searchbar .search
{
  background-image: url(./pictures/search.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}
.paintingRow{
  margin-top: 2vh !important;
  margin-bottom: 2vh;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    overflow-x: hidden;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
